a{
    text-decoration: dashed underline #018de7;
    color: #018de7;
}

.header__media{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    float: right;
    position: absolute;
    margin-left: 1140px;
    margin-top: 8px;
}

.page {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 1600px;
   }
  

header{
    font-family: "Merge Pro Bold"; 
    font-size: 13pt;
    font-weight: 100;
}

.header__menu{
    list-style-type: none;
    display: flex;
    color: #018de7;
    text-decoration: dashed underline #018de7;
    text-align: center;
    margin-left: 255px;
}

.header__media-twitter{
    padding-right: 15px;
}

.header__media-facebook{
    padding-right: 15px;
}

.header__media-rss{
    padding-right: 15px;
}

.header__media-youtube{
    padding-right: 10px;
}

.header__menu-element1{
    padding-top: 160px;
    margin-left: -32px;
}

.header__menu-element2{
    padding-left: 48px;
    padding-top: 160px;
}

.header__menu-element3{
    padding-left: 55px;
    padding-right: 25px;
    padding-top: 160px;
}

.header__menu-element4{
    padding-left: 63px;
    padding-top: 160px;
}

.header__menu-element5{
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 160px;
}

.header__menu-element6{
    padding-left: 24px;
    padding-right: 20px;
    padding-top: 160px;
}