a{
    text-decoration: dashed underline #018de7;
    color: #018de7;
}

.header__media{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    float: right;
}

.page {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: block;
    min-width: 960px;
    max-width: 1000px;
    min-height: 700px;
   }
  

header{
    font-family: "Merge Pro Bold"; 
}

.header__menu{
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    color: #018de7;
    text-decoration: dashed underline #018de7;
    text-align: center;
}

.header__media-twitter{
    margin-right: 10px;
}

.header__media-facebook{
    margin-right: 10px;
}

.header__media-rss{
    margin-right: 10px;
}

.header__media-youtube{
    margin-right: 10px;
}

.header__menu-element{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
}