*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Merge Pro Bold", sans-serif;
    width: 100%;
}

.header {
    position: relative;
    margin-top: 8px;
    margin-right: 90px;
    margin-bottom: 160px;
}

.header__logo {
    position: absolute;
    width: 270px;
    height: 186px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo-frame{
    width: 330px;
    height: 230px;
}

.header__social {
    position: absolute;
    top: 0;
    right: 0;
}

.header-social {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    float: right;
    margin-right: -15px;
}

.header__menu {
    padding-top: 150px;
}

.header-menu {
    padding: 0;
    margin: 0;
}

.header-menu__link {
    text-decoration: dashed underline #018de7;
    color: #018de7;
    text-decoration: underline dashed;

}

.page {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: block;
    min-width: 960px;
    max-width: 1330px;
    min-height: 700px;
}

.page__header{
    font-family: Merge Pro Bold;
    text-transform: uppercase;
}

.header-menu {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    color: #018de7;
    text-decoration: dashed underline #018de7;
    text-align: center;
    justify-content: space-between;
}

.header-social__link .header-social__link_twitter {
    margin-right: 10px;
}

.header-social__link .header-social__link_facebook {
    margin-right: 10px;
}

.header-social__link .header-social__link_rss {
    margin-right: 10px;
}

.header-social__link .header-social__link_youtube {
    margin-right: 10px;
}

.header-menu__item {
    padding-top: 36px;
    font-size: 14pt;
}

.header-menu__item:nth-child(4) {
    margin-left: auto;
}

.limonady-item{
    position: relative;
    z-index: 1;

}

.header-social__image_twitter{
    height: 30px;
    padding-right: 15px;
}

.header-social__image_facebook{
    height: 30px;
    padding-right: 14px;
}

.header-social__image_rss{
    height: 30px;
    padding-right: 17px;
}

.header-social__image_youtube{
    height: 30px;
}

.services{
    padding-right: 18px;
    padding-left: 61px;
}

.background{
    position: absolute;
    height: auto;
    z-index: -1;
}

.bryzgi{
    position: absolute;
    top: 80;
    left: 25%;
    object-fit: cover;
    z-index: 1;
}

.page__main_content{
    position: relative;
}

.page__main_products{
    display: flex;
    gap: 100px;
}

.transfer{
    position: absolute;
    right: 0;
}

.lemonade-description {
    font-family: "Merge Pro Bold", sans-serif;
    position: absolute;
    left: 0;
    font-size: 17pt;
    text-align: center;
    color: #ffd61b;
}
  
.lemonade-description h2 {
    font-weight: bold;
    font-size: 30pt;
    margin: 0 0 5px 0;
}

.about-us{
    margin-left: 53px;
}

.catalog{
    padding-left: 50px;
}

.promotions{

}

.news{
    padding-left: 61px;
    padding-right: 45px;
}

.contact-us{

}

.page__main_limonady {
    margin: 0;
    padding: 0;
    background-image: url('../img/limonady/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  