@font-face {
    font-family: Calibri;
    src: url("../fonts/calibri.ttf");
}

@font-face {
    font-family: Merge Pro Bold;
    src: url("../fonts/Merge\ Pro\ Bold.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.header {
    position: relative;
    margin-top: 8px;
    margin-right: 90px;
    margin-bottom: 15px;
    font-family: "Merge Pro Bold", sans-serif;
}

.header__logo {
    position: absolute;
    width: 270px;
    height: 186px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo-frame{
    width: 330px;
    height: 230px;
}

.header__social {
    position: absolute;
    top: 0;
    right: 0;
}

.header-social {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    float: right;
    margin-right: -15px;
}

.header__menu {
    padding-top: 150px;
}

.header-menu {
    padding: 0;
    margin: 0;
}

.header-menu__link {
    text-decoration: dashed underline #018de7;
    color: #018de7;
    text-decoration: underline dashed;

}

.page {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: block;
    min-width: 960px;
    max-width: 1330px;
    min-height: 700px;
}

.page__header{
    font-family: Merge Pro Bold;
    text-transform: uppercase;
    height: 220px;
}

.header-menu {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    color: #018de7;
    text-decoration: dashed underline #018de7;
    text-align: center;
    justify-content: space-between;
}

.header-social__link .header-social__link_twitter {
    margin-right: 10px;
}

.header-social__link .header-social__link_facebook {
    margin-right: 10px;
}

.header-social__link .header-social__link_rss {
    margin-right: 10px;
}

.header-social__link .header-social__link_youtube {
    margin-right: 10px;
}

.header-menu__item {
    padding-top: 36px;
    font-size: 14pt;
}

.header-menu__item:nth-child(4) {
    margin-left: auto;
}

.header-social__image_twitter{
    height: 30px;
    padding-right: 15px;
}

.header-social__image_facebook{
    height: 30px;
    padding-right: 14px;
}

.header-social__image_rss{
    height: 30px;
    padding-right: 17px;
}

.header-social__image_youtube{
    height: 30px;
}

.services{
    padding-right: 18px;
    padding-left: 61px;
}

.about-us{
    margin-left: 53px;
}

.catalog{
    padding-left: 50px;
}

.news{
    padding-left: 61px;
    padding-right: 45px;
}

.selected-box{
    background-color: #09b100;
    color: #ffffff;
}

.news-link{
    color: #ffffff;
    text-decoration: none;
}

.page__navigation{
    font-family: Calibri;
    font-size: 14pt;
    text-decoration: none #676668;
    margin-top: 51px;
    margin-left: 49px;
}

.navigation-link{
    font-size: 14pt;
    text-decoration: none;
    color: #676668;
    text-transform: none;
}

.page__main-news{
    font-family: Calibri;
}

.underscore{
    margin-left: 156px;
    width: 1000px;
    position: absolute;
    margin-top: 5px;
}

.news-gov{
    margin-top: 37px;
    margin-left: 52px;
}

.newsText-image{
    margin-top: 48px;
    margin-left: 73px;
    scale: 1.22;
}

.gov-date{
    margin: 0 auto;
}

.gov-title{
    margin-top: 10px;
    margin-left: 38px;
    margin-bottom: 0;
}

.title-image{
    scale: 1.22;
}

.gov-text{
    font-size: 13pt;
    margin-top: 8px;
    margin-left: 0px;
}

.news-phone{
    position: absolute;
    right: 0;
    margin-right: 180px;
    margin-top: -24px;
}

img{
    scale: 1.22;
}

.news-bottls{
    float: left;
    margin-left: 26px;
    margin-right: 79px;
}

.news-water{
    float: right;
    width: 100%;
    margin-top: 100px;
}

.waterTitle-image{
    padding-left: 48px;
}

.water-date{
    margin-bottom: 0;
}

.water-title{
    margin-top: 8px;
    margin-bottom: 0;
}

.water-text{
    margin-top: 6px;
}

.underscore1{
    margin-left: 156px;
    width: 1000px;
    margin-top: 84px;
}

.newsVITTEL-phone{
    position: absolute;
    right: 0;
    margin-right: 179px;
    margin-top: -19px;
}

.news-VITTEL{
    margin-left: 44px;
    margin-top: 27px;
}

.VITTEL-title{
    margin-left: 49px;
    margin-top: 15px;
    margin-bottom: 0;
}

.VITTEL-date{
    margin-bottom: 0;
    margin-top: 7px;
}

.VITTEL-text{
    margin-top: 6px;
}

.underscore2{
    margin-left: 156px;
    width: 1000px;
    margin-top: 40px;
}

.news-saimre{
    float: right;
    width: 100%;
    margin-top: 100px;
}

.news-gift{
    float: left;
    margin-left: 71px;
    margin-right: 73px;
    margin-top: -13px;
}

.saimre-title{
    margin-top: 0;
}

.saimreTitle-image{
    margin-left: 53px;
}

.saimre-text{
    margin-top: -16px;
}

.saimre-date{
    margin-bottom: 12px;
    margin-top: -6px;
}

.footer-links{
    background-color: #00287B;
    font-family: Merge Pro Bold;
    color: #ffffff;
    text-decoration: underline #ffffff;
}

.footer-copyrights{
    background-color: #000C68;
    font-family: Calibri;
    color: #ffffff;
}